################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Audeeo.UI.Prototype/bin
/Audeeo.UI.Prototype/obj/Debug
