################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/packages
/.vs
/Audeeo.UI.Prototype/bin
/Audeeo.UI.Prototype/obj/Debug
/Audeeo.LambdaTest/node_modules/aws-sdk
/AwsDynamoDBS3LinkSample1/obj/Debug
/NodejsConsoleApp1/.ntvs_analysis.dat
